<template>
  <main class="main">
    <header class="header">
      <h1 class="header__main-title">Dashboard</h1>
      <div class="header__controls">
        <label >
          <input type="checkbox" v-model="dragNDrop"></input>
          DragNDrop
        </label>
        <router-link tag="button" :to="{name: 'CreateCard'}">Добавить</router-link>
      </div>
    </header>

    <section class="main-content">
      <ul class="card-list">
        <card :draggable="dragNDrop" v-for="(item, index) in cardList"
              :key="index"
              :name="item.name"
              :description="item.description"
              :id="index"
              :dragged="item.dragged"
              :under-dragged="item.underDragged"
              @dragstart.native="dragStart(index)"
              @dragover.native="dragOver(index)"
              @dragleave.native="dragLeave(index)"
              @dragenter.native="dragEnter(index)"
              @dragend.native="dragEnd(index)"
        >
        </card>
      </ul>


    </section>
    <modal></modal>
  </main>
</template>

<script>
import card from '@/components/card'
import modal from '@/components/modal'
export default {
  name: 'Index',
  components: {
    card,
    modal
  },
  data() {
    return {
      currentDraggedItem: -1,
      underDraggedItem: -1,
      cardList: [],
    }
  },
  computed: {

    dragNDrop: {
      get () {
        return this.$store.getters['getDragNDrop']
      },
      set (value) {
        this.$store.dispatch('changeDragNDrop', value)
      }
    }
  },
  methods: {
    getCardList: function (){
      this.cardList = this.$store.getters['cardList'].map((item, index) => {
        return {
          ...item,
          dragged: false,
          underDragged: false
        }
      });
    },
    dragStart: function (index){
      if(this.dragNDrop){
        this.currentDraggedItem = index;
        this.cardList[index].dragged = true;
      }
    },
    dragOver: function (index){
      if(this.dragNDrop){
        this.underDraggedItem = index;
        this.cardList[index].underDragged = true;
      }
    },
    dragLeave: function (index){
      if(this.dragNDrop){
        this.cardList[index].underDragged = false;
      }
    },
    dragEnter: function (index){
      this.underDraggedItem = index;
    },
    dragEnd: function (){
      if(this.underDraggedItem !== -1 && this.currentDraggedItem !== -1 && this.dragNDrop){
        this.$store.dispatch('updateCardList', {from: this.currentDraggedItem, to: this.underDraggedItem});
        this.getCardList();
        this.currentDraggedItem = -1;
        this.underDraggedItem = -1;
      }
    }
  },
  mounted() {
    this.$store.dispatch('readFromLocalStorage')
    this.getCardList();
  }

}
</script>

<style lang="scss" scoped>
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    border-bottom: 1px solid #cccccc;
    &__main-title{}
    &__controls{}
  }
  .main{
    padding: 16px;
  }
  .card-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;

  }
</style>