<template>
  <div class="form">
    <h1 class="form__title">Создание новой карточки</h1>
    <div class="form__form-wrap form-wrap">
      <label class="form-wrap__label" for="name">Название</label>
      <input class="form-wrap__input" v-model="name" name="name" id="name" type="text">
    </div>
    <div class="form__form-wrap form-wrap">
      <label class="form-wrap__label" for="description">Описание</label>
      <textarea class="form-wrap__input" v-model="description" name="description" id="description" cols="30" rows="10" ></textarea>
    </div>
    <div>
      <button @click="cancel">Отмена</button>
      <button @click="add">Добавить</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'newCard',
  data(){
    return {
      name: '',
      description: ''
    }
  },
  methods: {
    clearForm(){
      this.name = '';
      this.description = '';
    },
    cancel: function (){
      if(this.name.length > 0 || this.description.length > 0) {
        if(confirm('Отменить создание карточки?')){
          this.clearForm();
          this.$router.push({name: 'Dashboard'})
        }
      }else{
        this.$router.push({name: 'Dashboard'})
      }

    },
    add: function (){
      let name = this.name.trim();
      let description = this.description.trim();
      if(name === ''){
        alert('Поле name не может быть пустым.')
        return false;
      }
      if(description === ''){
        alert('Поле description не может быть пустым.')
        return false;
      }
      this.$store.dispatch('addCard', {name, description});

      this.clearForm();
      this.$router.push({name: 'Dashboard'})


    }
  }
}
</script>

<style lang="scss" scoped>

.form {
  display: flex;
  flex-direction: column;
   max-width: 460px;
  margin: 16px auto;
  text-align: left;
  &__title{
    text-align: left;
    margin-bottom: 16px;
  }
  &__form-wrap {
    margin-bottom: 16px;
  }
}

.form-wrap {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  &__input {
    border: 1px solid #cccccc;
    border-radius: 4px;
    max-width: 100%;
    width: 100%;
    padding: 8px 8px;
    font-size: 16px;
    resize: none;
  }
  &__label {
    margin-left: 0;
    font-size: 16px;
    margin-bottom: 4px;
  }
}


</style>