<template>
  <li :class="classList" @click="showModalInfo">
    <h3 class="card__title">{{name}}</h3>
    <div class="card__content-wrap">
      <p class="card__description">{{description}}</p>
    </div>
  </li>
</template>

<script>
export default {
  name: 'Card',
  props: {
    name: {
      type: String,
      required: true,
    },
    id: {
      type: Number,
      required: true
    },
    description: {
      type: String,
      required: true
    },

    dragged: {
      type: Boolean,
    },
    underDragged: {
      type: Boolean
    }
  },
  methods: {
    showModalInfo: function (){
      this.$root.$emit('modal:show', this.id)
    }
  },
  computed: {
    classList: function (){
      return {
        'card': true,
        'card--dragged': this.dragged,
        'card--under': this.underDragged
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .card{
    min-height: 150px;
    max-height: 150px;
    max-width: calc(25% - 16px);
    width: 100%;

    padding: 8px;
    margin: 8px 16px 8px 0;


    overflow: hidden;

    border: 1px solid #cccccc;
    border-radius: 4px;
    &--dragged{
      border: 1px solid red;
    }
    &--under{
      border: 1px solid blue;
    }
    &__title{
      font-size: 24px;
      margin-bottom: 0;
      text-align: left;
      border-bottom: 1px solid #cccccc;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    &__content-wrap{
      overflow: auto;
      height: calc(100% - 28px);
    }
    &__description{
      margin-top: 8px;
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }
</style>