<template>
  <div :class="classList">
    <div class="modal__wrap" @click="close">
      <div class="modal__container" @click.stop>
        <div class="modal__header">
          <h3 class="modal__title">{{ data.name }}</h3>
          <a class="modal__close" @click="close">X</a>
        </div>
        <div class="modal__body">
          <p>{{data.description}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data( ){
    return {
      isShow: false,
      data: {}
    }
  },
  computed: {
    classList: function (){
      return {
        'modal': true,
        'modal--is-show': this.isShow
      }
    },
  },
  methods: {
    close: function (){
      this.isShow = false;
    },
    show: function (){
      this.isShow = true;
    }
  },
  mounted() {
    this.$root.$on('modal:close', () => {
      this.data = {};
      this.close();
    });
    this.$root.$on('modal:show', (id) => {
      this.data = this.$store.getters['getCardById'](id);
      this.show();
    })
  }
}
</script>

<style lang="scss" scoped>
  .modal{
    display: none;

    &--is-show {
      display: block;
    }

    &__wrap{

      background: rgba(0,0,0,0.6);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-width: 100vw;
      min-height: 100vh;
      max-width: 100vh;
      max-height: 100vh;
    }
    &__container{
      background: #ffffff;
      width: 500px;
      margin: 0 auto;
    }

    &__header{
      padding: 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #cccccc;
    }
    &__close{
      cursor: pointer;
      &:hover{
        color: red;
      }
    }
    &__title{
      font-size: 32px;
    }
    &__body{
      padding: 16px;
      overflow: auto;
      max-height: 400px;
      min-height: 400px;
    }
  }
</style>